html,
body {
  position: relative;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #f1f6fd;
  color: #333;
}
p{
  font-weight: 300;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}
